/* scroll bar */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #ffffff;
}
::-webkit-scrollbar {
    width: 8px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color:#667eea;   
}

/* main css */
*{
    font-family: "Poppins","Noto Color Emoji";
    font-weight: 700;
    overflow-y: visible;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.disabledcroll{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.scale-1\.1{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.scale-1\.2 {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}

.hover\:scale-1\.1:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
.hover\:scale-1\.2:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}